<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <a href="{% url 'webadmin:LoadingHomePage' %}">Home</a>
  <form name="subfrm" method="post">
    {% csrf_token %}
    <table border="1">
      <tr>
        <td>Subject</td>
      <td><input type="text" name="txtsub" placeholder="Enter Subject" required value="{{subedit.sub_name}}"></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" name="btnsave" value="Save">
          <input type="reset" name="btncancel" value="Cancel">
        </td>
      </tr>
    </table>
  </form>
  <table border="1">
    <tr>
      <td>sl no</td>     
      <td>semester</td>
      <td>Action</td>
    </tr>
  {% for i in subject %}  
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.sub_name}}</td> 
    <td>
      <a href="{% url 'webadmin:delete_sub' i.id %}">Delete</a><br> 
      <a href="{% url 'webadmin:edit_sub' i.id  %}">Edit</a><br> 
      </td>   
  </tr>
  {% endfor %}
</table>