<html>
    <body>
        <form method="POST" id="UserReg" enctype="multipart/form-data">
            {% csrf_token %}
        <table border="1" align="center">
             <tr>
                <td>
                Course name
                <input type="text" name="txtcoursename" value="">
                </td>
            </tr>
            <tr>
                <td>
               Course Duration
                <input type="text" name="txtduration" value="">
                </td>
            </tr>
            <tr>
                <td>
              Course price
                <input type="text" name="txtprice" value="">
                </td>
            </tr>
            <tr>
                <td>
                Details<input type="text" name="txtdetails" value="">
                </td>
            </tr>
            
                <tr>
                    <td>
                Course Start date<input type="date" name="txtstartdate" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                Course end date<input type="date" name="txtenddate" value="">
                    </td>
                </tr>
            </tr>              
            <td align="center">
                <input type="submit" name="Save" value="save">
                <input type="reset" name="Cancel" value="cancel">
            </td>
        </tr>
        </table>

        </form>
        <table border="1" align="center" cellpadding="1">
            <tr>
                <td>sl no</td>
                <td> Course Name</td>
                <td>Course Duration</td>
                <th>Course Fees</th>
                <th>Course Start date</th>
                <th>Course end date</th>                
            </tr>
            {% for i in data %}
            <tr>               
                <td>{{forloop.counter}}</td>
                <td>{{i.course_name}}</td>
                <td>{{i.course_duration}}</td>
                <td>{{i.course_price}}</td>
                <td>{{i.course_details}}</td>
                <td>{{i.course_startdate}}</td>
                <td>{{i.course_enddate}}</td>
                <!--<td colspan="2" align="center"><a class="d-card-button" href="{% url 'WebAdmin:eventdelete' i.id%}">delete event</a>-->
            </tr>
            {% endfor %}
        </table>
    </body>
</script>
</html>
