<html>
    <body>
        <form method="POST" id="UserReg" enctype="multipart/form-data">
            {% csrf_token %}
        <table border="1" align="center">
             <tr>
                <td>
                Name
                <input type="text" name="txtname" value="">
                </td>
            </tr>
            <tr>
                <td>
               Address
                <input type="text" name="txtaddress" value="">
                </td>
            </tr>
            <tr>
                <td>
              Qualification
                <input type="text" name="txtqualification" value="">
                </td>
            </tr>
            <tr>
                <td>
                E mail<input type="text" name="txtemail" value="">
                </td>
            </tr>
            <td align="center">
                <input type="submit" name="Register" value="save">
                <input type="reset" name="Cancel" value="cancel">
            </td>
        </tr>
        </table>
        </form>
    </body>
</script>
</html>
